{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>

{% if g.user %}
<a class="action" href="{{ url_for('chapter.check') }}">Check for new chapters</a>
{% endif %}
{% endblock %}

{% block content %}
{% for chapter in chapters %}
<article class="chapter">
  <header>
    <hgroup>
      <h1>{{ chapter['id'] }}{{ chapter['title'] }}</h1>
      <p>{{ chapter['created'].strftime('%Y-%m-%d') }}</p>
    </hgroup>
  </header>
  {{ post['body'] }}
</article>
{% if not loop.last %}
<!-- replace this later with left and right buttons -->
<hr>
{% endif %}

{% endfor %}
{% endblock %}