html {
  font-family: "Source Serif 4", serif;
  font-size: 19px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;

  background-color: #E9E2C9;
  color: #585148;
}

a {
  color: #66615C;
  text-decoration-line: none;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}

a:hover {
  background: #E9E1C3;
  border-radius: 8px;
}

a:visited {
  color: #918A83;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form input {
  margin-top: 10px;
}

form button {
  margin-top: 10px;
  margin-left: auto;
  width: 200px;
}

h1 {
  margin-bottom: 18px;

  font-size: 21px;
}

hr {
  margin-top: 4px;
  border-top: 1px solid #e9e1c3;
}

article p {
  margin-top: 0px;
  margin-bottom: 12px;
}

.next-page {
  position: fixed;
  right: 0;
  height: 100%;
  width: 33%;
}