html {
  font-family: serif;
  font-size: 19px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;

  background-color: #E9E2C9;
  color: #585148;
}

a {
  padding: 2px 7px 2px 7px;
  color: black;
  text-decoration-line: none;
  font-variant: small-caps;
  letter-spacing: 0.06em;
}

a:hover {
  background: #eaeaea;
  border-radius: 8px;
}

a:visited {
  color: #373737;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form input {
  margin-top: 10px;
}

form button {
  margin-top: 10px;
  margin-left: auto;
  width: 200px;
}

article p {
  margin-top: 0px;
  margin-bottom: 12px;
}