<!doctype html>
<html>

<head>
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% if chapter_content %}
  <article>
    {% for block in chapter_content %}
    {{ block|safe }}
    {% endfor %}
  </article>
  {% endif %}

  <form method="post">
    <label for="chapter_url">Chapter URL:</label>
    <input type="url" id="chapter_url" name="chapter_url">
    <button type="submit">Start</button>
  </form>
</body>

</html>